.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* overflow-y: scroll; */
    /* z-index: 999; */
}
.postWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 20px;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(10,4,8,0.8); 
    box-shadow: 0px 0px 14px 5px rgba(220, 198, 213, 0.8);
    gap: 20px;
}
.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.postTop img,
.postTopLeft img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid goldenrod;
    object-fit: cover;
}
.postTopUsername {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 5px;
}
.postTopTime {
    font-size: 1rem;
    font-weight: 300;
}
.postTopDott {
    cursor: pointer;
    color: blue;
}
.postCenter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.postCenterText {
    font-size: 1.1rem;
    font-style: italic;
}
.postCenterImage {
    width: 100%;
}
.postCenterImage img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 5px;
}
.postBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}
.postThumbUP{
    border-radius: 50%;
    background-color:#1877F2;
    /* background-color: #77A7FF; */
    /* padding: 2px; */
    color: white;
}
.postHeart {
    background-color:#f218bf; 
    border-radius: 50%; 
    color: white;
    padding: 3px 2px;


}
.likeAndComments {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -15px;
}
.postLike,
.postComments {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 40px; */
}
.hr {
    margin-bottom: 30px;
    
}